---
---
<!-- Contact Banner -->
<section id="contact" class="bg-dark text-light px-3 py-5 text-center">
  <div class="">
    <h2 class="fw-bold mb-3">Let's Build Something Great</h2>
    <p class="lead mb-4">
      Need help fast? We're open 6 days a week. Message or call us anytime.
    </p>
    <!-- CTAs -->
    <a href="/contact" class="btn btn-light btn-lg me-3">
      Call Workshop
    </a>
    <!-- #TODO: Handle WA CTA -->
    <a href="#" class="btn btn-outline-success btn-lg">
      WhatsApp Now
    </a>
    
  </div>
</section>