<!--
Description: Includes oil change, spark plugs, chain tension, brake check, and safety inspection.
Avg. Duration: 2–3 hours turnaround
-->
<div class="card h-100 shadow-sm border-0" data-aos="flip-up" data-aos-delay="1100">
  <div class="card-body">
    <!--[ Title ]-->
    <h3 class="card-title fw-light text-center mb-3">
      <span class="mt-2">Full Service - R650</span>
    </h3>
    <div class="row g-0">
      <!--[ Service Placeholder Image ]-->
      <div class="col-xl-5">
        <svg aria-label="Placeholder: Image" class="bd-placeholder-img " height="250" 
          preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
          <title>Service Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
        </svg>
      </div>
      <!--[ Service Details ]-->
      <div class="col-xl-7">
        <div class="card-body">
          <!--[ Title ]-->
          <!-- <h3 class="card-title fw-semibold">
            <Icon class="text-primary" name="mdi:engine"  height="20" width="20" />
            <span class="mt-2">
              <small class="text-muted" style="font-size: small;">e.g.</small>
              Full Service - R650</span>
          </h3> -->

          <!--[ Text ]-->
          <p class="card-text lead text-secondary">
            Keep your bike running smooth with full engine and oil maintenance.
          </p>
          <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>